.fix{
    margin-left:80px;
}
span {
    margin-left:50px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }
  p{
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
  }