<div class="container-fluid">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
<div class="col-lg-12">
    <h3 class="page-header"><i class="glyphicon glyphicon-list"></i>Thuốc</h3>
    <ol class="breadcrumb bor">
      <li><i class="fa fa-home"></i><a href="" class="fonta">Home</a></li>
      <li><i class="fap fonta">yte</i></li>
      <li><i class="fap fonta">thuoc</i></li>
      <li><i class="fap fonta">add</i></li>
    </ol>
        <section class="panel">
            <header class="breadcrumb bor">
                <label for="chon">Thêm mới thuốc</label>
              </header>
              <form class="example-form" [formGroup]="addForm">
                  <div class="form-group">
                    <mat-form-field class="example-full-width1">
                      <input formControlName="tenthuoc" matInput placeholder="Tên thuốc">
                    </mat-form-field>
                  </div>
                  <div class="form-group font2" style="margin-left:148px;width: 100%">
                      <label for="tencongty">Loại Thuốc :</label>
                      <mat-form-field class="example-full-width2">
                          <mat-select placeholder="Loại thuốc" formControlName="idloaithuoc">
                            <mat-option *ngFor="let loaithuoc of loaithuocs" [value]="loaithuoc.idloaithuoc">
                              {{loaithuoc.tenloai}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div class="form-group font2" style="margin-left:148px;width: 100%">
                      <label for="tencongty">Công Ty :</label>
                      <mat-form-field class="example-full-width2">
                          <mat-select placeholder="Công ty" formControlName="idnhasanxuat">
                            <mat-option *ngFor="let congty of congtys" [value]="congty.idnhasanxuat">
                              {{congty.tennhasanxuat}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div class="form-group">
                      <mat-form-field class="example-full-width1">
                        <input  formControlName="ngaynhap" [(ngModel)]="date" matInput [matDatepicker]="picker" placeholder="Ngày nhập">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="example-full-width1">
                          <input formControlName="soluong" matInput placeholder="Số lượng">
                        </mat-form-field>
                      </div>
                      <div class="form-group">
                          <mat-form-field class="example-full-width1">
                            <input formControlName="tacdung" matInput placeholder="Tác dụng">
                          </mat-form-field>
                      </div>
                      <div class="form-group">
                          <mat-form-field class="example-full-width1">
                            <input formControlName="cachdung" matInput placeholder="Cách dùng">
                          </mat-form-field>
                      </div>
                  <div class="form-group fixbutton">
                      <button (click)="Add()" class="btn btn-success">Thêm mới</button>
                      <button (click)="Huy()" style="margin-left:50px;" class="btn btn-danger">Hủy</button>
                  </div>
                </form>
              </section>
          </div>
  </div>
  </section>
  </section>
  </div>