<div class="container-fluid">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
<div class="col-lg-12">
    <h3 class="page-header"><i class="glyphicon glyphicon-list"></i>Công Ty</h3>
    <ol class="breadcrumb bor">
      <li><i class="fa fa-home"></i><a href="" class="fonta">Home</a></li>
      <li><i class="fap fonta">quantri</i></li>
      <li><i class="fap fonta">congty</i></li>
      <li><i class="fap fonta">update</i></li>
    </ol>
        <section class="panel">
            <header class="breadcrumb bor">
                <label for="chon">Cập nhật công ty</label>
              </header>
              <form class="example-form" [formGroup]="updateForm">
                <div class="form-group">
                            <mat-form-field class="example-full-width1">
                              <input formControlName="tennhasanxuat" matInput placeholder="Tên công ty">
                            </mat-form-field>
                </div>
                  <div class="form-group fixbutton">
                      <button (click)="Update()" class="btn btn-success">Cập nhật</button>
                      <button (click)="Huy()" style="margin-left:50px;" class="btn btn-danger">Hủy</button>
                  </div>
                </form>
              </section>
          </div>
    </div>
    </section>
    </section>
  </div>
  