.fix{
    margin-left: 10px;
    border-radius: 10px;
}
.font{
    margin-top:20px;
    color: #797979;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
.font1{
    color: #797979;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
.font2{
    margin-left: 150px;
    margin-top:15px;
    color: #b9b1b1;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
.example-form {
    min-width: 100px;
    max-width: 450px;
    width: 100%;
    margin-left: 150px;
  }
  .example-full-width {
    width: 100%;
    margin-left: 80px;
  }
  .example-full-width1 {
    min-width: 200px;
    max-width: 800px;
    width: 100%;
    width: 100%;
    margin-left: 50px;
  }
  .fixbutton{
      margin-left: 250px;
      margin-bottom: 20px;
  }
  .fixbtn{
    margin-left:130px;
    margin-top:10px;
  }
  .fixbtnadd{
    margin-left: 150px;
    width: 20%;
  }
  .imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}