p{
    margin-top:20px;
    color: #797979;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
th{
  font-size: 15px;
}
.fixs{
    padding-top:20px;
    padding-bottom:20px;
}
.fonta{
    margin-top:20px;
    color: #797979;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
.bg-input{
    text-align: left;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    margin-top:20px;
    font-size: 14px;
    width: 100%;
  }
  .btn1 {
    color : rgba(241, 238, 35, 0.96);
  }