<h1 mat-dialog-title>Đổi Mật Khẩu</h1>
<div mat-dialog-content style="margin-left:40px">
  <mat-form-field>
    <input matInput [(ngModel)]="passWord" type="password" placeholder="Mật Khẩu Cũ">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="passWordNew" type="password" placeholder="Mật Khẩu Mới">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="passWordNew1" type="password" placeholder="Nhập Lại Mật Khẩu Mới">
  </mat-form-field>
</div>
<div mat-dialog-actions  style="margin-left:80px">
  <button mat-button (click)="onNoClick()">Can</button>
  <button mat-button  (click)="change()">Ok</button>
</div>