
<div class="container-fluid">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
<div class="col-lg-12">
    <h3 class="page-header"><i class="glyphicon glyphicon-th"></i>Quản lý học kỳ</h3>
    <ol class="breadcrumb bor">
      <li><i class="fa fa-home"></i><a href="" class="fonta">Home</a></li>
      <li><i class="fap fonta">quantri</i></li>
      <li><i class="fap fonta">hocki</i></li>
    </ol>
      <section class="panel">
        <div class="col-md-4">
          <label for="chon" style="margin-top:30px">Thêm mới học kì :</label>
              <button class="btn btn-success" style="margin-left:30px" (click)="onAdd()"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource"  matSort>
              <ng-container matColumnDef="tenhocki">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Tên học kì</th>
                  <td mat-cell *matCellDef="let row" style="text-align:center"> {{row.tenhocki}} </td>
                </ng-container>
                <ng-container matColumnDef="idhocki">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Chức Năng</th>
                    <td mat-cell *matCellDef="let row" style="text-align:center">
                      <button (click)="updateHocki(row)" mat-button class="btn1" matTooltip="Cập nhật">
                          <i class="glyphicon glyphicon-pencil"></i>
                      </button>
                      <button (click)="deleteHocki(row.idhocki)" mat-button color="warn" matTooltip="Xóa">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
            </div>
          </section>
        </div>
      </div>
      </section>
      </section>
      </div>